# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# dependencies

/uhs-admin.iml
/node_modules
/mock
/public
/server
/src
/tests
# roadhog-api-doc ignore
/src/utils/request-temp.js
_roadhog-api-doc

# misc
.DS_Store
npm-debug.log*

/coverage

/api/node_modules
/.idea
/yarn.lock


/node_modules
/server/node_modules
package-lock.json
*.log
/uhs-admin.iml

